<div class="container">
  <div class="row">
    <div class="total-box col-md-3 xxx">
      <%= number_to_currency(@today) %>
      <span>HOY</span>
    </div>
    <div class="total-box col-md-3 xxx">
      <%= number_to_currency(@yesterday) %>
      <span>AYER</span>
    </div>
    <div class="total-box col-md-3 xxx">
      <%= number_to_currency(@month) %>
      <span>ESTE MES</span>
    </div>
    <div class="total-box col-md-3 xxx">
      <%= number_to_currency(@last_month) %>
      <span>MES PASADO</span>
    </div>
  </div>
  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Últimos 6 Meses</div>
        <div class="panel-body">
          <div id="expenses-chart" style="height: 250px;">
            <%= column_chart @expenses.last_six_months.joins(:type).group('types.name').group_by_month(:date, last: 6, format: "%B").count, stacked: true, legend: "bottom" %>           
          </div>
        </div>
      </div>
    </div>
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Por Día</div>
        <div class="panel-body">
          <div id="daily-expenses-chart" style="height: 250px;"><%= column_chart @expenses.this_month.joins(:type).group('types.name').group_by_day(:date, format: "%e").count, stacked: true, legend: "bottom", messages: {empty: "No data"} %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Por Categoría</div>
        <div class="panel-body">
          <div id="category-chart" style="height: 250px;"><%= pie_chart @expenses.this_month.joins(:category).group('categories.name').count, legend: "bottom", donut: true %></div>
        </div>
      </div>
    </div>
    <div class=" box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Acumulado</div>
        <div class="panel-body">
          <div id="month-acc" style="height: 250px;">
          <%=  area_chart [

                    { name: "Mes Actual", data: @expenses.this_month.group_by_day(:date).sum(:amount) },
                    { name: "Último Mes", data: @expenses.last_month1.group_by_day(:date).sum(:amount) }

                  ]
          %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
