<!-- Start: listar gastos -->  
  <tr id="<%= expense.id %>">
    <td class="date">
      <div class="day"><%=l(expense.date, format: "%d")%></div>
      <div class="month"><%=l(expense.date, format: "%b")%></div>
    </td>
    <td>
      <div>
        <span class="type"><%=expense.type.name%></span>
      </div>
      <div>
        <span class="concept"><%=expense.concept%></span>
      </div>
    </td>
    <td class="category text-right"><%=expense.category.name%></td>
    <td class="text-right" style="width: 170px;">
      <div class="amount"><%= number_to_currency(expense.amount)%></div>
      <div class="actions">

      	 <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_expense_path(expense), remote: true %>
       
        <%= link_to '<span class="glyphicon glyphicon-trash"></span> Delete'.html_safe, expense_path(expense), method: :delete, data: {confirm: "Seguro deseas eliminar este expense?"}, remote:true %>
    </td>
  </tr>    
<!-- End: listar gastos -->

