<div class="container">
  <div class="row">
    <div class="col-md-3">

   

      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      
      <div class="list-group checked-list-box">
        <!-- Start: listar tipos y filtrar -->
        <% @types.each do |type| %>  
<%
=begin %>
        <%= link_to filter_expenses("type",type.id), class: "list-group-item", model:"type", id:type.id do %>
        <%=type.name%>   
        <% end %>
<%
=end %>
        <a modelid = "<%=type.id %>" model = "type" class="list-group-item"><%=type.name%> </a>   
        <% end %>  
        <!-- End: listar tipos -->
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <!-- Start: listar categorias y filtrar -->
        <% @categories.each do |category| %>
<%
=begin %>
        <%= link_to filter_expenses("category",category.id), class: "list-group-item", model:"category", id:category.id do %>
        <%=category.name%>   
        <% end %>
<%
=end %>
        <a modelid = "<%=category.id %>" model = "category" class="list-group-item"><%=category.name%> </a>      
        <% end %>
        <!-- End: listar categorias -->
      </div>
    </div>
    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center" >
          <div class="summary-value xxx"><%= number_to_currency(@total) %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center" >
          <div class="summary-value xxx"><%= @expenses.size %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center" >
          <div class="summary-value xxx"><%= number_to_currency(@average) %></div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
        
        <!-- Start: botón del modal -->
          <%= link_to '<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Expense'.html_safe, new_expense_path, class: "btn btn-success pull-left", remote: true  %>
        <!-- End: botón del modal -->
<%
=begin %>
          <%= link_to new_expense_path, remote: true, class: "btn btn-success pull-left" do %>
          <span class="glyphicon glyphicon-plus"></span> New Expense 
          <% end %>
<%
=end %>
          
          <h4 class="dropdown pull-right">
            <%= form_tag expenses_path, method: :get do %>
              <%= select_tag :date, options_for_select(months_list, params[:date]), {:onchange => 'this.form.submit()', class:"dropdown-toggle btn btn-success" } %>
              <%= hidden_field_tag :q, params[:q] if params[:q].present? %>
              <%= hidden_field_tag :category, params[:category_id] if params[:category_id].present? %>
              <%= hidden_field_tag :type, params[:type_id] if params[:type_id].present? %>
            <% end %>

            <!-- <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">April 2016 <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a href="#">April 2016</a></li>
              <li role="presentation"><a href="#">March 2016</a></li>
            </ul> -->
          </h4>

        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
        <!-- Start: listar gastos -->
        <% @expenses.each do |expense| %>

        <%= render "row", expense: expense %> 

        <% end %>
        <!-- End: listar gastos -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  new x();
</script>