<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">

        <!-- Start: listar tipos -->
        <% @types.each do |type| %>
        <a href="#" class="list-group-item"><%=type.name%></a>
        <% end %>  
        <!-- End: listar tipos -->
      
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        
        <!-- Start: listar categorias -->
        <% @categories.each do |category| %>
        <a href="#" class="list-group-item"><%=category.name%></a>
        <% end %>
        <!-- End: listar categorias -->

        <!-- more categories  -->
      </div>
    </div>
    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">$2,500,000</div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">2</div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">$1,000,000</div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
        
        <!-- Start: botón del modal -->
          <%= link_to  new_expense_path, :class => "btn btn-success pull-left", :remote => true, "data-toggle" => "modal", "data-target" => "expense-modal" do %>
          <span class="glyphicon glyphicon-plus"></span> New Expense
          <% end %>
<%
=begin %>
          <%= link_to new_expense_path, remote: true, class: "btn btn-success pull-left" do %>
          <span class="glyphicon glyphicon-plus"></span> New Expense 
          <% end %>
<%
=end %>

        <!-- End: botón del modal -->

          <!-- <a href="#" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus"></span> New Expense</a> -->

          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">April 2016 <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a href="#">April 2016</a></li>
              <li role="presentation"><a href="#">March 2016</a></li>
              <!-- more months -->
            </ul>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
        <!-- Start: listar gastos -->
        <% @expenses.each do |expense| %>

        <%= render "row", expense: expense %> 

        <% end %>
        <!-- End: listar gastos -->
        </tbody>
      </table>
    </div>
  </div>
</div>
